div {
    background-image: url(../image/images.jpg);
    width: 1050px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}
li {
    padding: 5px;
    margin: 90px;
    font-size: 50px;
}
a{
    text-decoration: none;
    color: rgb(37, 27, 82);
}
.one {
    border: 5px solid red;
}
.two {
    border-style: dotted;
    border-width: 5px;
    border-color: black;
}
.three {
    border-style:ridge;
    border-width: 5px;
    border-color: rgb(26, 15, 87);
}
.four {
    border-style:dashed;
    border-width: 5px;
    border-color: rgb(26, 15, 87);
}